            @import 'variables';
            * {
                box-sizing: border-box;
            }
            
            html {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 15px;
                color: #FFFFFF;
            }
            
            h2,
            ul,
            li,
            html,
            body {
                margin: 0;
                padding: 0;
            }
            
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
            }
            
            .price-table {
                display: flex;
                width: 1440px;
                height: 900px;
            }
            
            .price-card {
                background: #334247;
                box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
                width: 380px;
                height: 770px;
                margin: auto 15px auto 0;
                position: relative;
                overflow: hidden;
                text-align: center;
                margin-top: 65px;
            }
            
            .price-card:first-child {
                margin-left: 135px;
            }
            
            .rectangle {
                background-color: #DC3F45;
                position: absolute;
                font-weight: bold;
                width: 147px;
                height: 25px;
                text-transform: uppercase;
                text-align: center;
                line-height: 25px;
                transform: rotate(45deg);
                top: 30px;
                right: -30px;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .price-card__title {
                display: inline-block;
                margin: 30px auto 37px auto;
                text-align: center;
                &>h2 {
                    font-size: 35px;
                    line-height: 43px;
                    display: block;
                    font-weight: bold;
                }
                &>span {
                    font-size: 20px;
                    line-height: 24px;
                    display: block;
                }
            }
            
            .price-card__price {
                font-weight: 700;
                font-size: 55px;
                line-height: 100px;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
                height: 104px;
                margin-bottom: 39px;
            }
            
            .price-card__price_green,
            .price-card__order-btn_green {
                background: $color-green;
            }
            
            .price-card__price_blue,
            .price-card__order-btn_blue {
                background: $color-blue;
            }
            
            .price-card__price_orange,
            .price-card__order-btn_orange {
                background: $color-orange;
            }
            
            .price-card__description {
                // width: 328px;
                text-align: center;
                line-height: 18px;
                color: #FFFFFF;
                margin: 0 26.51px 0 26px;
            }
            
            .price-card__options-list {
                margin: 42px 0 37px;
            }
            
            .options-list__item {
                height: 50px;
                display: flex;
                align-items: center;
            }
            
            .item__img {
                padding: 0 21px;
                margin-top: -3px;
            }
            
            .item__link {
                text-decoration: none;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
            
            .options-list__item:nth-child(odd) {
                background: #2A3438;
            }
            
            .price-card__order-btn {
                width: 155px;
                height: 40px;
                border: none;
                border-radius: 20px;
                font-size: 15px;
                line-height: 17px;
                /* identical to box height */
                text-align: center;
                color: #FFFFFF;
                text-transform: uppercase;
                display: block;
                margin: 0 auto;
                margin-bottom: 42px;
                font-weight: 400;
            }